nav {
  background-color: #383838;
}

.nav {
  z-index: 99;
}

.nav-logo {
  color: #fff;
}

.nav-logo:hover {
  color: #fff;
}

.color-g {
  color: #888;
}

.color-w {
  color: #fff;
}

.color-g:hover {
  color: #d35266;
}

.nav-btn {
  background-color: #d35266;
  color: #fff;
}

header {
  background-color: #d35266;
  height: 230px;
}

.header {
  height: 50vh;
  background-image: url("assets/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-btn {
  color: #fff;
  background-color: #383838;
}

.color-p {
  color: #d35266;
}

.bg-color {
  background-color: #d35266;
}

.card {
  box-shadow: 4px 9px 5px #aaa;
}

.animate:hover {
  animation: bounce 1s forwards;
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  100% {
    color: #d35266;
    transform: translateX(65);
  }
}

.img-gray:hover {
  filter: grayscale(80%);
}
